.DS_Store
node_modules
/build
/.svelte-kit
/package
.env.local
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/.vercel
.zenstack_repl_history
project.inlang/project_id
src/routes/api/openapi.json/openapi.json
*.sql