/* Here you will find styles that are specific to the /nolla pages. */

@tailwind utilities;

@layer utilities {
  .box-shadow-black {
    box-shadow: 0.25rem 0.25rem 0 0 black;
  }

  .box-shadow-black-lg {
    box-shadow: 0.5rem 0.5rem 0 0 black;
  }

  .neo-brutal-btn {
    @apply box-shadow-black hover:box-shadow-black-lg flex items-center rounded-xl border-2 border-black bg-primary p-4 font-semibold
    transition hover:-translate-x-1 hover:-translate-y-1
    active:translate-x-1 active:translate-y-1 active:shadow-none;
  }

  .neo-brutal-btn-flat {
    @apply flex items-center rounded-xl border-2 border-black bg-primary p-5 text-center text-xl font-semibold hover:bg-[#0D1B1E] hover:text-white;
  }

  .neo-brutal-box {
    @apply box-shadow-black-lg rounded-box px-8 py-12 sm:px-10 sm:py-16;
  }

  .nolla-page-title {
    @apply mb-8 font-nolla-mono text-5xl font-bold sm:mb-16 sm:text-6xl md:text-8xl;
  }
}

:root {
  --navbar-size: 144px; /* h-36 is 144px */
}

html {
  scroll-behavior: smooth;
}

p {
  @apply max-w-prose leading-relaxed;
}

* ~ p,
p ~ * {
  @apply mt-4;
}

[data-theme="nollningPreReveal"] {
  color-scheme: light;
}
