/* We need to import app.css, because if we don't then we can't use layers */
/* And if we add our own @tailwind utilities; etc then the CSS will stop functioning/act weird due to everything being declared twice, in the wrong order. */
/* This is how tailwind recommends doing it if you have multiple files. */
@utility box-shadow-black {
  --tw-shadow: 0.25rem 0.25rem 0 0 black;
  --tw-shadow-colored: 0.25rem 0.25rem 0 0 var(--tw-shadow-color);
  box-shadow:
    var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}
@utility box-shadow-black-lg {
  --tw-shadow: 0.5rem 0.5rem 0 0 black;
  --tw-shadow-colored: 0.5rem 0.5rem 0 0 var(--tw-shadow-color);
  box-shadow:
    var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}
@utility neo-brutal-border-sm {
  @apply rounded-xl border-2 border-black;
}
@utility neo-brutal-border {
  @apply rounded-2xl border-4 border-black;
}

@utility nolla-pre-reveal {
  & .nolla-page-title {
    @apply mb-8 font-nolla-mono text-5xl font-bold sm:mb-16 sm:text-6xl md:text-8xl;
  }

  & .neo-brutal-btn {
    @apply box-shadow-black hover:box-shadow-black-lg neo-brutal-border-sm flex items-center bg-primary p-4 font-semibold transition hover:-translate-x-1 hover:-translate-y-1 active:translate-x-1 active:translate-y-1 active:shadow-none;
  }

  & .neo-brutal-btn-flat {
    @apply neo-brutal-border-sm flex items-center bg-primary p-5 text-center text-xl font-semibold hover:bg-[#0D1B1E] hover:text-white;
  }

  & .neo-brutal-box {
    @apply neo-brutal-border box-shadow-black-lg px-8 py-12 sm:px-10 sm:py-16;
  }

  & .neo-brutal-image {
    @apply neo-brutal-border box-shadow-black-lg;
  }

  & .nolla-prose {
    @apply max-w-prose leading-relaxed;
  }

  & * ~ .nolla-prose {
    @apply mt-4;
  }

  & .nolla-prose ~ * {
    @apply mt-4;
  }
}

@utility nolla-page-title {
  .nolla-pre-reveal & {
    @apply mb-8 font-nolla-mono text-5xl font-bold sm:mb-16 sm:text-6xl md:text-8xl;
  }
}

@utility neo-brutal-btn {
  .nolla-pre-reveal & {
    @apply box-shadow-black hover:box-shadow-black-lg neo-brutal-border-sm flex items-center bg-primary p-4 font-semibold transition hover:-translate-x-1 hover:-translate-y-1 active:translate-x-1 active:translate-y-1 active:shadow-none;
  }
}

@utility neo-brutal-btn-flat {
  .nolla-pre-reveal & {
    @apply neo-brutal-border-sm flex items-center bg-primary p-5 text-center text-xl font-semibold hover:bg-[#0D1B1E] hover:text-white;
  }
}

@utility neo-brutal-box {
  .nolla-pre-reveal & {
    @apply neo-brutal-border box-shadow-black-lg px-8 py-12 sm:px-10 sm:py-16;
  }
}

@utility neo-brutal-image {
  .nolla-pre-reveal & {
    @apply neo-brutal-border box-shadow-black-lg;
  }
}

@utility nolla-prose {
  .nolla-pre-reveal & {
    @apply max-w-prose leading-relaxed;
  }

  .nolla-pre-reveal * ~ & {
    @apply mt-4;
  }

  .nolla-pre-reveal & ~ * {
    @apply mt-4;
  }
}

/* Here you will find styles that are specific to the /nolla pages. */
@reference "../../../app.css";

:root {
  --navbar-size: 144px; /* h-36 is 144px */
}

html {
  scroll-behavior: smooth;
}

[data-theme="nollningPreReveal"] {
  color-scheme: light;
}
