.homepage {
  background-color: #fff;
}

#home a {
  color: #0000ee !important;
  text-decoration: underline;
}

#home p,
#home a,
#home span {
  font-family: serif;
}

#home p {
  color: #000;
  font-size: 0.9rem !important;
}

#home h1 {
  margin-top: 1rem;
  font-size: 1.3rem !important;
}
